html,
body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: "Manrope", sans-serif;
}

body {
    --text-main-color: #000000;
    --text-secondary-color: #999999;
}

.row {
    width: 100%;
    position: relative;
}

.container {
    max-width: 1440px;
    padding: 0 140px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin: 0;
}

li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-secondary-color);
    font-size: 14px;
    line-height: 25px;
}

.contacts__img {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-active {
    color: var(--text-main-color);
    padding-bottom: 41.4px;
    border-bottom: 3px solid #FFD644;
}

.hero__about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 70px;
    align-items: flex-end;
}

.header__block {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 777.29px;
    justify-content: space-between;
}

.hero__block {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.hero__img img {
    padding: 8px;
    border: 3px solid #FFD644;
    border-radius: 100px;
}

.hero__name {
    font-size: 44px;
    line-height: 53px;
    width: 291px;
    margin: 0;
}

.hero__info {
    font-size: 20px;
    line-height: 25px;
}

.cursor__text {
    padding-bottom: 23px;
    color: var(--text-secondary-color);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
}

.hero__cursor {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.cursor {
    position: relative;
    top: 35px;
    right: -4px;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 65px;
}

.hero__video__block {
    position: relative;
}

.hero__video__block a {
    z-index: 1;
    height: 47px;
    width: 47px;
    position: absolute;
    bottom: 58px;
    left: 49px;
}

.hero__video {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

.title {
    font-size: 44px;
    line-height: 52.8px;
    padding: 108px 0 63px 0;
}

h1,
h2 {
    margin: 0;
}

.row-alternative-color {
    background: #F8F1DB;
}

.activity {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 85px;
}

.activity__block {
    display: flex;
    gap: 70px;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.10);
}

.activity__text {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.text__title {
    font-size: 26px;
    line-height: 33.8px;
}

.text__secondary__color {
    color: var(--text-secondary-color);
    font-size: 18px;
    line-height: 25.2px;
}

.text__main__color {
    font-size: 18px;
    line-height: 25.2px;
}

.activity__link {
    color: #E9B500;
}

.activity__block img {
    padding-left: 30px;
}

.title__contacts {
    font-size: 44px;
    line-height: 52.8px;
    width: 239.84px;
}

.contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 146px;
}

.contacts__links {
    display: flex;
    gap: 22px;
}

.contacts__mail {
    font-size: 26px;
    line-height: 33.8px;
    text-decoration: none;
    color: var(--text-main-color);
}

.contacts__note {
    text-align: center;
    font-size: 13px;
    line-height: 140%;
    padding: 31px 0 101px 0;
    color: var(--text-secondary-color);

}

.background {
    background-color: #F8F1DB;
    height: 270.53px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 0;
}

.menu__burger {
    display: none;
}

.hero__info__mobile {
    display: none;
}

.hero__name__mobile {
    display: none;
}

.hero__video__mobile {
    display: none;
}

.title__mobile {
    display: none;
}

.text__title__mobile {
    display: none;
}

.text__secondary__color__mobile {
    display: none;
}

.text__main__color__mobile {
    display: none;
}

.contacts__note__mobile {
    display: none;
}

.contacts__mobile {
    display: none;
}

.menu__mobile {
    display: none;
    position: fixed;
    top: -29px;
    right: 7px;
    width: 375px;
    min-height: 648px;
    box-sizing: border-box;
    padding: 60px 34px;
    background-color: #fff;
    z-index: 3;
    border: 1px solid black;
    margin: 0 -10px;
}

@media (max-width: 1060px) {
    .container {
        padding: 0 10px;
    }
}

@media (max-width: 930px) {
    .nav__desktop {
        display: none;
    }

    .contacts__img {
        display: none;
    }

    .menu__burger {
        display: block;
    }

    header {
        padding: 10px 20px;
    }

    .hero__info {
        display: none;
    }

    .hero__info__mobile {
        display: block;
        font-size: 18px;
        line-height: 25.2px;
        text-align: center;
    }

    .hero__cursor {
        display: none;
    }

    .hero__block {
        flex-direction: column;
    }

    .hero__about {
        display: block;
        padding-top: 30px;
    }

    .hero__name {
        display: none;
    }

    .hero__name__mobile {
        display: block;
    }

    .hero {
        gap: 60px;
        align-items: center;
    }

    .hero__video {
        display: none;
    }

    .hero__video__mobile {
        display: block;
    }

    .hero__video__block a {
        left: 18px;
        bottom: 22px;
    }

    .title {
        display: none;
    }

    .title__mobile {
        display: block;
        font-size: 34px;
        line-height: 40.8px;
        text-align: center;
        padding: 73px 0 50px 0;
    }

    .background {
        height: 210px;
    }

    .activity__block {
        flex-direction: column-reverse;
        gap: 0px;
        padding: 30px 30px 0 30px;
        text-align: center;
    }

    .activity__text {
        gap: 16px;
    }

    .activity__block img {
        height: 250px;
        width: 250px;
        padding: 0;
    }

    .text__title {
        display: none;
    }

    .text__title__mobile {
        display: block;
        font-size: 20px;
        line-height: 26px;
    }

    .text__secondary__color {
        display: none;
    }

    .text__secondary__color__mobile {
        display: block;
        font-size: 15px;
        line-height: 21px;
        color: var(--text-secondary-color);
    }

    .text__main__color {
        display: none;
    }

    .text__main__color__mobile {
        display: block;
        font-size: 15px;
        line-height: 21px;
    }

    .activity {
        padding-bottom: 70px;
    }

    .contacts {
        display: none;
    }

    .contacts__mobile {
        flex-direction: column;
        padding-top: 60px;
        display: flex;
        align-items: center;
        gap: 40px;
        text-align: center;
    }

    .contacts__block {
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
    }

    .contacts__note {
        display: none;
    }

    .contacts__note__mobile {
        display: block;
        text-align: center;
        padding: 40px 0 60px 0;
        font-size: 13px;
        line-height: 140%;
        color: var(--text-secondary-color);
    }

    .title__contacts {
        width: auto;
        font-size: 34px;
        line-height: 40.8px;
    }

    .contacts__links {
        gap: 10px;
    }

    .contacts__mail {
        font-size: 20px;
        line-height: 26px;
    }

    .menu__mobile {
        display: flex;
        justify-content: space-between;
    }

    .menu__mobile .main-nav {
        flex-direction: column;
        gap: 68px;
        align-items: flex-start;
    }

    .menu__right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
    }

    .main-nav {
        padding: 0;
    }

    .menu__button {
        border: 0;
        background: transparent;
        cursor: pointer;
    }

    a.nav-item--active {
        color: var(--text-main-color);
        border-bottom: 2px solid #FFD644;
    }

}