html,
body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: "Manrope", sans-serif;
}

body {
    --text-main-color: #000000;
    --text-secondary-color: #999999;
}

.row {
    width: 100%;
    position: relative;
}

.container {
    max-width: 1440px;
    padding: 0 140px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin: 0;
}

li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-secondary-color);
    font-size: 14px;
    line-height: 25px;
    transition: 400ms;
}

li a:hover {
    color: var(--text-main-color);
}

.contacts__img {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-active {
    color: var(--text-main-color);
    padding-bottom: 41.4px;
    border-bottom: 3px solid #FFD644;
}

.hero__about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 70px;
    align-items: flex-end;
}

.header__block {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 777.29px;
    justify-content: space-between;
}

.hero__block {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.hero__img img {
    padding: 8px;
    border: 3px solid #FFD644;
    border-radius: 100px;
}

.hero__name {
    font-size: 44px;
    line-height: 53px;
    width: 291px;
    margin: 0;
}

.hero__info {
    font-size: 20px;
    line-height: 25px;
}

.cursor__text {
    padding-bottom: 23px;
    color: var(--text-secondary-color);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
}

.hero__cursor {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.cursor {
    position: relative;
    top: 35px;
    right: -4px;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 65px;
}

.hero__video__block {
    position: relative;
}

.hero__video__block a {
    z-index: 1;
    height: 47px;
    width: 47px;
    position: absolute;
    bottom: 58px;
    left: 49px;
}

.hero__video {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

.title {
    font-size: 44px;
    line-height: 52.8px;
    padding: 108px 0 63px 0;
}

h1,
h2 {
    margin: 0;
}

.row-alternative-color {
    background: #F8F1DB;
}

.activity {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 85px;
}

.activity__block {
    display: flex;
    gap: 70px;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.10);
}

.activity__block img {
    padding-left: 30px;
}

.activity__text {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.text__title {
    font-size: 26px;
    line-height: 33.8px;
}

.text__secondary__color {
    color: var(--text-secondary-color);
    font-size: 18px;
    line-height: 25.2px;
}

.text__main__color {
    font-size: 18px;
    line-height: 25.2px;
}

.activity__link {
    color: #E9B500;
    transition: 400ms;
}

.activity__link:hover {
    color: #286c76;
}

.title__contacts {
    font-size: 44px;
    line-height: 52.8px;
    width: 278.08px;
}

.contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 146px;
}

.contacts__links {
    display: flex;
    gap: 22px;
}

.contacts__links a {
    transition: 400ms;
    overflow: hidden;
}

.contacts__links a:hover {
    transform: scale(115%);
}

.contacts__mail {
    font-size: 26px;
    line-height: 33.8px;
    text-decoration: none;
    color: var(--text-main-color);
    transition: 400ms;
}

.contacts__mail:hover {
    text-decoration: underline;
}

.contacts__note {
    text-align: center;
    font-size: 13px;
    line-height: 140%;
    padding: 31px 0 101px 0;
    color: var(--text-secondary-color);

}

.background {
    background-color: #F8F1DB;
    height: 270.53px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 0;
}

.menu__burger {
    display: none;
}

.hero__info__mobile {
    display: none;
}

.hero__name__mobile {
    display: none;
}

.hero__video__mobile {
    display: none;
}

.title__mobile {
    display: none;
}

.text__title__mobile {
    display: none;
}

.text__secondary__color__mobile {
    display: none;
}

.text__main__color__mobile {
    display: none;
}

.contacts__note__mobile {
    display: none;
}

.contacts__mobile {
    display: none;
}

.menu__mobile {
    display: none;
    position: fixed;
    top: -29px;
    right: 7px;
    width: 375px;
    min-height: 648px;
    box-sizing: border-box;
    padding: 60px 34px;
    background-color: #fff;
    z-index: 3;
    border: 1px solid black;
    margin: 0 -10px;
}

.contacts__img a {
    transition: 400ms;
    overflow: hidden;
}

.contacts__img a:hover {
    transform: scale(115%);
}

.title__description__mobile {
    display: none;
}

@media (max-width: 1060px) {
    .container {
        padding: 0 10px;
    }
}

@media (max-width: 930px) {
    .nav__desktop {
        display: none;
    }

    .contacts__img {
        display: none;
    }

    .menu__burger {
        display: block;
    }

    header {
        padding: 10px 20px;
    }

    .hero__info {
        display: none;
    }

    .hero__info__mobile {
        display: block;
        font-size: 18px;
        line-height: 25.2px;
        text-align: center;
    }

    .hero__cursor {
        display: none;
    }

    .hero__block {
        flex-direction: column;
    }

    .hero__about {
        display: block;
        padding-top: 30px;
    }

    .hero__name {
        display: none;
    }

    .hero__name__mobile {
        display: block;
    }

    .hero {
        gap: 60px;
        align-items: center;
    }

    .hero__video {
        display: none;
    }

    .hero__video__mobile {
        display: block;
    }

    .hero__video__block a {
        left: 18px;
        bottom: 22px;
    }

    .title {
        display: none;
    }

    .title__mobile {
        display: block;
        font-size: 34px;
        line-height: 40.8px;
        text-align: center;
        padding: 73px 0 50px 0;
    }

    .background {
        height: 210px;
    }

    .activity__block {
        flex-direction: column-reverse;
        gap: 0px;
        padding: 30px 30px 0 30px;
        text-align: center;
    }

    .activity__text {
        gap: 16px;
    }

    .activity__block img {
        height: 250px;
        width: 250px;
        padding: 0;
    }

    .text__title {
        display: none;
    }

    .text__title__mobile {
        display: block;
        font-size: 20px;
        line-height: 26px;
    }

    .text__secondary__color {
        display: none;
    }

    .text__secondary__color__mobile {
        display: block;
        font-size: 15px;
        line-height: 21px;
        color: var(--text-secondary-color);
    }

    .text__main__color {
        display: none;
    }

    .text__main__color__mobile {
        display: block;
        font-size: 15px;
        line-height: 21px;
    }

    .activity {
        padding-bottom: 70px;
    }

    .contacts {
        display: none;
    }

    .contacts__mobile {
        flex-direction: column;
        padding-top: 60px;
        display: flex;
        align-items: center;
        gap: 40px;
        text-align: center;
    }

    .contacts__block {
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
    }

    .contacts__note {
        display: none;
    }

    .contacts__note__mobile {
        display: block;
        text-align: center;
        padding: 40px 0 60px 0;
        font-size: 13px;
        line-height: 140%;
        color: var(--text-secondary-color);
    }

    .title__contacts {
        width: auto;
        font-size: 34px;
        line-height: 40.8px;
    }

    .contacts__links {
        gap: 10px;
    }

    .contacts__mail {
        font-size: 20px;
        line-height: 26px;
    }

    .menu__mobile {
        display: flex;
        justify-content: space-between;
    }

    .menu__mobile .main-nav {
        flex-direction: column;
        gap: 68px;
        align-items: flex-start;
    }

    .menu__right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
    }

    .main-nav {
        padding: 0;
    }

    .menu__button {
        border: 0;
        background: transparent;
        cursor: pointer;
    }

    a.nav-item--active {
        color: var(--text-main-color);
        border-bottom: 2px solid #FFD644;
    }

    div.portfolio__body {
        grid-template-columns: repeat(2, 1fr);
    }

    div.portfolio__title {
        flex-direction: column;
        gap: 30px;
        padding-top: 50px;
        align-items: center;
    }

    h1.portfolio {
        font-size: 34px;
    }

    div.title__description {
        display: none;
    }

    div.title__description__mobile {
        display: block;
        font-size: 18px;
        line-height: 140%;
        width: 300px;
        text-align: center;
    }

    div.cases__text__block {
        text-align: center;
        padding: 0;
    }

    div.cases__image__mobile {
        display: block;
        padding-bottom: 40px;
    }

    .cases__image__mobile img {
        width: 100%;
        height: auto;
    }

    img.cases__main__image__mobile {
        display: block;
        width: 100%;
        height: auto;
    }

    div.cases__image {
        display: none;
    }

    .cases__main__image {
        display: none;
    }

    div.secondary__color {
        color: var(--text-secondary-color);
        text-align: left;
    }

    div.recall__link a {
        position: relative;
        top: 0;
    }

    div.recall__link {
        padding: 20px 0;
        text-align: center;
    }

    div.cases__main__title {
        font-size: 28px;
        padding: 0;
        line-height: normal;
    }

    div.cases__text__block .portfolio {
        padding: 0;
    }

    div.cases__text {
        font-size: 15px;
        line-height: 140%;
        padding-bottom: 40px;
    }

    div.cases__title {
        font-size: 20px;
        line-height: 130%;
    }

    div.cases__body {
        padding: 0;
    }

    div.speeches__body {
        grid-template-columns: repeat(2, 1fr);
    }

    .speeches__text__article {
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .speeches__hero {
        display: none;
    }

    img.speeches__hero__mobile {
        display: block;
        width: 100%;
        height: auto;
    }

    div.speeches__link__block {
        padding-bottom: 12px;
    }

    div.speeches__article__title {
        font-size: 28px;
        width: 274px;
    }

    div.speeches__image__block {
        padding: 60px 0 50px 0;
    }

    img.speeches__play__article {
        bottom: 102px;
    }

    div.speeches__text__title {
        font-size: 15px;
        line-height: 140%;
        width: 280px;
    }

    .blog__text {
        display: none;
    }

    div.blog__text__mobile {
        display: block;
        padding: 16px 0 20px 0;
    }

    img.blog__image__desktop {
        display: none;
    }

    img.blog__image__mobile {
        display: block;
    }

    div.blog__container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    div.blog__text__block {
        text-align: center;
    }

    div.blog__button button a {
        width: 210px;
        display: block;
        font-size: 15px;
    }

    div.blog__body {
        gap: 60px;
    }

    div.blog__title {
        text-align: center;
        padding: 50px 0;
        font-size: 34px;
    }

    div.blog__text__title {
        font-size: 20px;
    }
}

.speeches__iamge__mobile {
    display: none;
}

@media (max-width: 785px) {
    div.speeches__body {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 40px;
    }

    a.speeches__link {
        font-size: 20px;
    }

    div.speeches__text {
        text-align: center;
    }

    .speeches__iamge__desktop {
        display: none;
    }

    .speeches__iamge__mobile {
        display: block;
    }

    div.speeches__body {
        padding: 70px 0;
    }
}

@media (max-width: 650px) {
    div.portfolio__body {
        grid-template-columns: repeat(1, 1fr);
        padding: 70px 0;
    }

    div.portfolio__block {
        padding: 0 30px 30px 30px;
    }

    div.portfolio__image {
        height: 300px;
        border-bottom: none;
    }

    div.image__description a {
        font-size: 20px;
    }

    div.image__description {
        text-align: center;
        padding: 0;
    }

    div.portfolio__image a {
        text-align: center;
    }
}

.portfolio__title {
    display: flex;
    padding: 70px 0;
    max-width: 994px;
    justify-content: space-between;
}

.title__description {
    font-size: 20px;
    line-height: 30px;
}

.portfolio__block {
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 20px;
    background: #FFF;
}

.portfolio__image {
    height: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-right: 0;
}

.portfolio__image a {
    transition: 400ms;
}

.portfolio__image a:hover {
    transform: scale(105%);
}

.image__description {
    font-size: 18px;
    line-height: 130%;
    padding: 20px 96px 34px 40px;
    margin-right: 0;
}

.image__description a {
    text-decoration: none;
    color: var(--text-main-color);
}

.image__description a:hover {
    text-decoration: underline;
}

.portfolio__body {
    padding: 100px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.portfolio {
    font-size: 44px;
    line-height: 53px;
}

.recall__link a {
    position: absolute;
   text-decoration: none;
   color: var(--text-secondary-color);
   font-size: 13px;
   line-height: 135%;
   top: 20px; 
}

.recall__link a:hover {
    text-decoration: underline;
}

.cases__body {
    padding: 60px 0;
}

.cases__text {
    font-size: 18px;
    line-height: 150%;
    max-width: 686px;
    padding: 20px 0 80px 0;
}

.cases__text__block {
    padding: 0 200px;
}

.cases__title {
    font-size: 24px;
    line-height: 30px;
}

.cases__text__block .portfolio {
    padding-bottom: 20px;
}

.cases__image {
    text-align: center;
    padding-bottom: 40px;
}

.cases__image__mobile {
    display: none;
}

div.last {
    padding-bottom: 0;
}

.cases__main__image {
    width: 100%;
    height: auto;
}

.cases__main__image__mobile {
    display: none;
}

.speeches__body {
    padding: 100px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 40px;
    justify-items: center;
}

.speeches__image {
    position: relative;
}

.speeches__play {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.speeches__text {
    padding-top: 20px;
}

.speeches__link {
    font-size: 18px;
    line-height: 130%;
    text-decoration: none;
    color: var(--text-main-color);
}

.speeches__link:hover {
    text-decoration: underline;
}

.recall__link__speeches {
    text-decoration: none;
    color: var(--text-secondary-color);
    font-size: 13px;
    line-height: 135%;
}

.speeches__link__block {
    padding: 20px 0 32px 0;
}

.speeches__article__title {
    font-size: 44px;
    width: 598px;
    line-height: normal;
}

.speeches__image__block {
    position: relative;
    padding: 72px 0 62px 0;
}

.speeches__play__article {
    position: absolute;
    left: 49px;
    bottom: 114px;
}

.speeches__text__title {
    font-size: 20px;
    line-height: 30px;
    width: 633px;
    padding-bottom: 18px;
}

.speeches__hero {
    width: 100%;
    height: auto;
}

.recall__link__speeches:hover {
    text-decoration: underline;
}

.speeches__hero__mobile {
    display: none;
}

.blog__title {
    font-size: 44px;
    padding: 70px 0 80px 0;
}

.blog__body {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.blog__container {
    display: flex;
    gap: 74px;
}

.blog__text__title {
    font-size: 26px;
    line-height: 130%;
}

.blog__text {
    font-size: 18px;
    line-height: 140%;
    color: var(--text-secondary-color);
    padding: 20px 0 30px 0;
}

.blog__button button {
    background: transparent;
    border: none;
    height: 50px;
}

.blog__button button a {
    border-radius: 100px;
    border: 1px solid #000;
    font-size: 18px;
    line-height: 140%;
    padding: 11px 27px;
    background: transparent;
    text-decoration: none;
    color: var(--text-main-color);
    transition: 400ms;
}

.blog__button button a:hover {
    box-shadow: 0px 0px 5px black;
}

.blog__text__mobile {
    display: none;
    font-size: 15px;
    line-height: 140%;
    color: var(--text-secondary-color);
}

.blog__image__mobile {
    display: none;
}